doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- Font
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap")

        //- Icons
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

        link(rel="stylesheet", href="/static/css/base.css")
        block style

        title Home
    body
        header 
            nav
                a#logo.navlink(href="/")
                    img(src="/static/images/logo.png")
                
                if user
                    a#logout-btn.navlink(href="/logout") Log out
                else
                    a#login-btn.navlink(href="/login") Log in
                    a#register-btn.navlink(href="/register") Sign up
            
        main
            block main


        block script